<div class="container d-flex justify-content-center mt-4">
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Conta Corrente</h5>
      <ul class="list-group" *ngFor="let conta of contas">
        <li>
          <div class="d-flex flex-column w-100">
            <div class="d-flex flex-row justify-content-between">
              <label>Número da conta:</label><span>{{conta.numeroConta}}</span>
            </div>
            <div class="d-flex flex-row justify-content-between">
              <label>Saldo disponivel:</label><span><sub>{{conta.ValorInteiro}}</sub><sup>{{conta.ValorCentavos}}</sup></span>
            </div>
          </div>
        </li>
      </ul>
      <a href="#" class="btn btn-primary">Detalhes</a>
    </div>
  </div>
</div>
